.container {
  display: flex;
  align-self: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cellContainer {
  position: absolute;
  border: 1px dashed gray;

  display: flex;
  align-items: center;
  justify-content: center;
}